form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
   }
   
   input {
    margin-bottom: 10px;
   }
   
   button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
   }
   
   button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
   }
   